{
  "extends": ["airbnb", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "func-names": ["error", "never"],
    "no-await-in-loop": 0,
    "no-console": 0,
    "no-use-before-define": ["error", { "functions": false }]
  },
  "env": {
    "jest/globals": true
  }
}
